{# src/Congreso/CongresoBundle/Resources/views/Track/arttrac.html.twig #}
{% extends "CongresoCongresoBundle::layout.html.twig" %}
{% block title %}Artículos de {{ track.campo }}{% endblock %}

{% block body %}
    {% for articulo in articulos %}
        <article class="articulo">
        <div class="separator"></div>
           
             <p>{{  articulo.ParsearFecha }}</p>


            <header>
                <h2><a href="{{ path('congreso_congreso_show', { 'id': articulo.id }) }}">{{ articulo.titulo }}</a></h2>
            </header>

            <div class="snippet">
                <p>{{ articulo.cuerpo|slice(0, 400) ~ '...' }}</p>
                <p class="continue"><a href="{{ path('congreso_congreso_show', { 'id': articulo.id }) }}">Seguir leyendo...</a></p>
            </div>

            <footer class="meta">
                <p>Comentarios: {{articulo.numberofcomments}}</p>
            </footer>
        </article>
    {% else %}
        <p>No hay entradas en este blog</p>
    {% endfor %}
{% endblock %}

{% block sidebar %}
<p>{{ track.info }}</p>
{% endblock %}

