{# src/Congreso/CongresoBundle/Resources/views/Congreso/list.html.twig #}
{% extends "CongresoCongresoBundle::layout.html.twig" %}
{% block title %}List of Articulos{% endblock %}

{% block body %}
    {% for articulo in articulos %}
        <article class="articulo">
            <div class="date"><time datetime="{{ articulo.publicacion|date('c') }}">{{ articulo.publicacion|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('congreso_congreso_show', { 'id': articulo.id }) }}">{{ articulo.titulo }}</a></h2>
            </header>

            <div class="snippet">
                <p>{{ articulo.cuerpo(200) }}</p>
                <p class="continue"><a href="{{ path('congreso_congreso_show', { 'id': articulo.id }) }}">Seguir leyendo...</a></p>
            </div>

            <footer class="meta">
                <p>Comentarios: </p>
            </footer>
        </article>
    {% else %}
        <p>No hay entradas en este blog</p>
    {% endfor %}
{% endblock %}

