{# src/Congreso/CongresoBundle/Resources/views/Congreso/show.html.twig #}
{% extends "CongresoCongresoBundle::layoutIng.html.twig" %}
{% block title %}Selected article{% endblock %}

{% block body %}
	<h4>{{ articulo.titulo }}</h4>

	<div class="body">{{ articulo.cuerpo }}</div>
	<div class="separator"></div>
	<div class="date">Publication date: {{ articulo.publicacion |date('d-m-Y') }}</div>
	<div class="separator"></div>
	<section class="comments" id="comments">
		<section class="previous-comments">
			<h3>Comentarios</h3>
			{% include 'CongresoCongresoBundle:Comment:list.html.twig' with { 'comments': comments } %}
		</section>
		<h3>Añadir comentario</h3>
		{{ render(controller( 'CongresoCongresoBundle:Comment:new', { 'articulo_id': articulo.id } )) }}
    </section>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/congreso.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
<div class="tracks">
{% include 'CongresoCongresoBundle:Track:list.html.twig' with { 'tracks': tracks } %}
</div>
{% endblock %}

{% block linea %}
<div class="separator"></div>
{% endblock %}

{% block sidebar1 %}
<div class="cientificos">
{% include 'CongresoCongresoBundle:Cientifico:list.html.twig' with { 'cientificos': cientificos } %}
</div>
<div class="separator"></div>
<p class="continue"><a href="/">Volver a la Home</a></p>
<p class="continue"><a href="/contact">Contacto</a></p>
{% endblock %}

