{# src/Congreso/CongresoBundle/Resources/views/Cientifico/show.html.twig #}
{% extends "CongresoCongresoBundle::layout.html.twig" %}
{% block title %}Articulos de {{ cientifico.nombre }}{% endblock %}

{% block body %}
    {% for articulo in articulos %}
        <article class="articulo">
            <div class="date"><time datetime="{{ articulo.publicacion|date('c') }}">{{ articulo.publicacion|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('congreso_congreso_show', { 'id': articulo.id }) }}">{{ articulo.titulo }}</a></h2>
            </header>

            <div class="snippet">
                <p>{{ articulo.cuerpo(200) }}</p>
                <p class="continue"><a href="{{ path('congreso_congreso_show', { 'id': articulo.id }) }}">Seguir leyendo...</a></p>
            </div>

            <footer class="meta">
                <p>Comentarios: </p>
            </footer>
        </article>
    {% else %}
        <p>No hay entradas en este blog</p>
    {% endfor %}
{% endblock %}

{% block sidebar1 %}
<div class="cientificos">
<p>Estos son los artículos que ha escrito {{ cientifico.nombre }}.</p>
<p>{{ cientifico.nombre }} es un respetado profesional en los siguientes campos: {{ cientifico.especialidad }}</p>


<p>Nació el 
{% if cientifico.nacimiento|date('d') ==  "01" %}
    1
{% elseif cientifico.nacimiento|date('d') ==  "02" %}
    2
{% elseif cientifico.nacimiento|date('d') ==  "03" %}
    3
{% elseif cientifico.nacimiento|date('d') ==  "04" %}
    4
{% elseif cientifico.nacimiento|date('d') ==  "05" %}
    5
{% elseif cientifico.nacimiento|date('d') ==  "06" %}
    6
{% elseif cientifico.nacimiento|date('d') ==  "07" %}
    7
{% elseif cientifico.nacimiento|date('d') ==  "08" %}
    8
{% elseif cientifico.nacimiento|date('d') ==  "09" %}
    9
{% else %}
    {{ cientifico.nacimiento|date('d') }}
{% endif %}

 de 

{% if cientifico.nacimiento|date('m') ==  "01" %}
    enero
{% elseif cientifico.nacimiento|date('m') ==  "02" %}
    febrero
{% elseif cientifico.nacimiento|date('m') ==  "03" %}
    marzo
{% elseif cientifico.nacimiento|date('m') ==  "04" %}
    abril
{% elseif cientifico.nacimiento|date('m') ==  "05" %}
    mayo
{% elseif cientifico.nacimiento|date('m') ==  "06" %}
    junio
{% elseif cientifico.nacimiento|date('m') ==  "07" %}
    julio
{% elseif cientifico.nacimiento|date('m') ==  "08" %}
    agosto
{% elseif cientifico.nacimiento|date('m') ==  "09" %}
    septiembre
{% elseif cientifico.nacimiento|date('m') ==  "10" %}
    octubre
{% elseif cientifico.nacimiento|date('m') ==  "11" %}
    noviembre
{% elseif cientifico.nacimiento|date('m') ==  "12" %}
    diciembre
{% endif %}

 de {{ cientifico.nacimiento|date('Y') }}</p>



<p> Si quiere más información sobre {{ cientifico.nombre }}, pulse <a href="{{ cientifico.info }}">aquí</a>.</p>
</div>
{% endblock %}

